<ion-header>
  <ion-toolbar color="primary">

    <!-- adding the side menu -->
      <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-buttons>
    <!-- end side menu -->

    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    
    <ion-row>
    
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          
          <!-- I have used #slidingItem so I can close it programmatically  -->
          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>

            <app-offer-item [offer]="offer"></app-offer-item>

            <ion-item-options>
          
              <ion-item-option color="tertiary" (click)="onEdit(offer.id, slidingItem)">
              <!-- I could also have used the routerLink as per line below -->
              <!-- <ion-item-option color="tertiary" [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', offer.id]"> -->
                EDIT
                <ion-icon name="create" slot="top"></ion-icon>
              </ion-item-option>
          
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    
    </ion-row>

  </ion-grid>

</ion-content>
