<!-- <ion-item detail="false" [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]"> -->
<ion-item detail="false">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label color="">
    <h1 id="offer-title">{{ offer.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar-outline" class="ion-margin-end" color=""></ion-icon>
      <ion-text color="" class="">From: {{ offer.availableFrom | date}}</ion-text>
    </div>
    <div class="offer-details">
      <ion-icon name="calendar-outline" class="ion-margin-end" color=""></ion-icon>
      <ion-text color="">Until: {{ offer.availableTo | date}}</ion-text>
    </div>
  </ion-label>
</ion-item>